{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Как получить разрешение на охотничье оружие - EcoNews</title>
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="row-fluid">
            <nav class="navigation navbar navbar-expand-lg bg-white">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="{% static 'img/logo.png' %}" class="d-inline-block logo align-top" alt="Логотип Econews">
                </a>
                <a href="#">
                    <svg class="search-mobile" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0 0 13 6c0-3.31-2.69-6-6-6S1 2.69 1
                                  6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996
                                   0 0 0 0-1.41v.01zM7 10.7c-2.59
                                  0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z"></path>
                    </svg>
                </a>
                <div class="collapse navbar-collapse justify-content-center" id="navbarToggleExternalContent">
                    <ul class="navbar-nav font-weight-bold">
                        <li class="nav-item mr-2">
                            <a class="link nav-link" href="#">Об Econews</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="link nav-link" href="#">Новости</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="link nav-link" href="#">Интервью</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="link nav-link" href="#">Репортажи</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="link nav-link" href="#">Блоги</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="link nav-link" href="#">Рекламодателю</a>
                        </li>
                    </ul>
                </div>
                <a href="#">
                    <svg class="search" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0 0 13 6c0-3.31-2.69-6-6-6S1 2.69 1
                                  6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996
                                   0 0 0 0-1.41v.01zM7 10.7c-2.59
                                  0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z"></path>
                    </svg>
                </a>
                <a href="#"><img class="RSS pl-2" src="{% static 'img/RSS.png' %}"></a>
            </nav>
        </div>
    </div>
</header>
<div class="article-header d-flex justify-content-center align-items-center"
     style="background-image: url({% static 'img/header.png' %})">
    <div class="article-header-text text-center">
        <span class="category">Инструкция</span>
        <h1>Как получить разрешение на охотничье оружие</h1>
        <strong>7 карточек</strong>
    </div>
</div>
<main class="news container-fluid pt-3">
    <div class="row p-2">
        <div class="lead offset-lg-1 col-lg-10">
            Для того чтобы легально купить оружие – необходимо оформить в ОЛРР УМВД Лицензию на приобретение оружия
            (в простонародье – «зеленка»).
            Это дело достаточно простое. Для этого надо – пройти медкомиссию,
            сдать зачет по безопасному обращению с оружием, купить сейф и получить от участкового акт о соответствии
            условий хранения,
            а также – оформить охотничий билет.
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <ul class="menu col-lg-3 menu-text nav flex-column nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="/#01">01. Бланки</a></li>
            <li class="nav-item">
                <a class="nav-link" href="/#02">02. Охотничий билет</a></li>
            <li class="nav-item">
                <a class="nav-link" href="/#03">03. Медкомиссия</a></li>
            <li class="nav-item">
                <a class="nav-link" href="/#04">04. Обучение</a></li>
            <li class="nav-item">
                <a class="nav-link" href="/#05">05. Акт проверки условий</a></li>
            <li class="nav-item">
                <a class="nav-link" href="/#06">06. Госпошлина</a></li>
            <li class="nav-item">
                <a class="nav-link" href="/#07">07. Получение лицензии в ЛРО</a></li>
        </ul>
        <div id="01" class="col-lg-8">
            <div class="col card">
                <div class="number">01</div>
                <h2>Бланки</h2>
                <div class="card-line"></div>
                <p>Но начать в любом случае придется с визита в Отдел лицензионно-разрешительной работы УМВД по адресу
                    Гамарника 9А, кабинет 25. Режим работы:
                    Вторник, четверг. С 10 до 17 (а вовсе не с 9 до 18, как сообщает Дубль-ГИС). Там вам выдадут бланки
                    всех необходимых документов.</p>
            </div>
            <div id="02" class="col card">
                <div class="number">02</div>
                <h2>Охотничий билет</h2>
                <div class="card-line"></div>
                <p>Затем нужно подать заявление на оформление охотничьего билета федерального образца. Принимают
                    заявления в Департаменте по охране, контролю и регулированию использования объектов животного мира
                    ПК на Алеутской 45А, каб. 210 .
                    Режим работы: Вторник, среда, четверг. С 14:00 до 17:00.
                    <br>
                    <br>Необходимые документы:
                    <br>
                    <br>Заявление (бланки валяются на столике перед дверью),
                    <br>Копия паспорта,
                    <br>2 фото 3х4 см 2,5х3,5 см,
                    <br>копии действующих охотничьего билета и разрешения на оружие (если они у вас есть).
                    <br>
                    <br>Обещают сделать за 2 недели, но обычно через неделю уже готов.</p>
            </div>
            <div id="03" class="col card">
                <div class="number">03</div>
                <h2>Медкомиссия</h2>
                <div class="card-line"></div>
                <p>Вторым этапом я рекомендую пройти медкомиссию (ибо ее требуют на курсах по безопасному обращению с
                    оружием). Обзвонив медцентры («Асклепий» и пр.) выяснил, что медкомиссия у них дороже, чем в обычной
                    поликлинике (у некоторых больше чем в 2 раза) и за справками от нарколога и психа придется так же
                    идти самому – решил по старинке проходить на Некрасовской 52 на этом месте могла быть ваша реклама.
                    <br>
                    <br>Медкомиссия состояла из трех врачей и обошлась мне в 500 с копейками рублей (это не считая
                    справки
                    от нарколога и психа с теми + еще 700 р.).
                    <br>
                    На медкомиссию возьмите военник или приписное. Псих спрашивает.</p>
            </div>
        </div>
    </div>
</main>
<div class="read-more container-fluid">
    <h4>Читайте также</h4>
    <ar class="row text-center ">
        <article class="read-more-article col-lg-4">
            <a href="#">
                <img src="{% static 'img/new1.png' %}">
            </a>
            <header class="read-more-article-caption">
                <div class="clearfix">
                    <div class="views float-left">
                        <svg class="view" xmlns="http://www.w3.org/2000/svg" width="16" height="19" viewBox="0 0 8 8">
                            <path d="M4.03 0c-2.53 0-4.03 3-4.03 3s1.5 3 4.03 3c2.47 0 3.97-3 3.97-3s-1.5-3-3.97-3zm-.03 1c1.11 0 2 .9 2 2 0 1.11-.89 2-2 2-1.1 0-2-.89-2-2 0-1.1.9-2 2-2zm0 1c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1c0-.1-.04-.19-.06-.28-.08.16-.24.28-.44.28-.28 0-.5-.22-.5-.5 0-.2.12-.36.28-.44-.09-.03-.18-.06-.28-.06z"
                                  transform="translate(0 1)"></path>
                        </svg>
                        12312
                    </div>
                    <span class="category float-right">Партнерский материал</span>
                </div>
                <h3>В 2018 году в ООПТ ждут более 2 млн добровольцев</h3>
                <p>На семинаре для сотрудников ООПТ советник министра природных ресурсов и экологии РФ Дмитрий
                    Беланович </p>
            </header>
        </article>
        <article class="read-more-article col-lg-4">
            <a href="#">
                <img src="{% static 'img/new2.png' %}">
            </a>
            <header class="read-more-article-caption">
                <div class="clearfix">
                    <div class="views float-left">
                        <svg class="view" xmlns="http://www.w3.org/2000/svg" width="16" height="19" viewBox="0 0 8 8">
                            <path d="M4.03 0c-2.53 0-4.03 3-4.03 3s1.5 3 4.03 3c2.47 0 3.97-3 3.97-3s-1.5-3-3.97-3zm-.03 1c1.11 0 2 .9 2 2 0 1.11-.89 2-2 2-1.1 0-2-.89-2-2 0-1.1.9-2 2-2zm0 1c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1c0-.1-.04-.19-.06-.28-.08.16-.24.28-.44.28-.28 0-.5-.22-.5-.5 0-.2.12-.36.28-.44-.09-.03-.18-.06-.28-.06z"
                                  transform="translate(0 1)"></path>
                        </svg>
                        12312
                    </div>
                    <span class="category float-right">Партнерский материал</span>
                </div>
                <h3>Лось, гуси, самолет: что происходит в приморском заказнике?</h3>
                <p>На днях департаментом по охране, контролю и регулированию использования объектов животного
                    мира </p>
            </header>
        </article>
        <article class="read-more-article col-lg-4">
            <a href="#">
                <img src="{% static 'img/new3.png' %}">
            </a>
            <header class="read-more-article-caption">
                <div class="clearfix">
                    <div class="views float-left">
                        <svg class="view" xmlns="http://www.w3.org/2000/svg" width="16" height="19" viewBox="0 0 8 8">
                            <path d="M4.03 0c-2.53 0-4.03 3-4.03 3s1.5 3 4.03 3c2.47 0 3.97-3 3.97-3s-1.5-3-3.97-3zm-.03 1c1.11 0 2 .9 2 2 0 1.11-.89 2-2 2-1.1 0-2-.89-2-2 0-1.1.9-2 2-2zm0 1c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1c0-.1-.04-.19-.06-.28-.08.16-.24.28-.44.28-.28 0-.5-.22-.5-.5 0-.2.12-.36.28-.44-.09-.03-.18-.06-.28-.06z"
                                  transform="translate(0 1)"></path>
                        </svg>
                        12312
                    </div>
                    <span class="category float-right">Партнерский материал</span>
                </div>
                <h3>Возможность срубить елку к Новому году появится у каждого</h3>
                <p>Согласно законопроекту законодательного собрания Карелии, частные лица получат возможность
                    заготавливать </p>
            </header>
        </article>
</div>
</div>
<footer>
    <div class="text-center">
        <img class="img-fluid footer-decoration" src="{% static 'img/footer.png' %}">
    </div>
    <div class="copyright">2017 Eco News Russia | Экологические новости. Все права защищены.<br>
        Использование материалов сайта возможно только при указании ссылки на Eco News.<br>
    </div>
    <div class="copyright">Вопросы и предложения - <a href="mailto:welcome@econews.pro">welcome@econews.pro</a></div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>